<header id="main-header" class="header">
    <div class="header-inner">

        <a href="index.html" class="logo"><img src="assets/img/logo.jpg" loading="lazy" /></a>

        <nav class="nav-desktop">
            <a href="index.html">Home</a>
            <a href="shop.html">Shop</a>
            <a href="testimonials.html">Testimonials</a>
            <a href="about.html">About</a>
            <a href="contact.html">Contact</a>
        </nav>

        <div class="header-icons">
            <div class="icon-btn" id="cart-btn">
                <span class="cart-total" id="cart-total">$0</span>
                <i class='bx  bxs-cart'></i>
                <span class="count" id="cart-count">0</span>
            </div>

            <div id="menuToggle" role="button" aria-controls="mobileMenu" aria-expanded="false" aria-label="Toggle menu"
                tabindex="0">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

    </div>

    <nav class="nav-mobile" id="mobileMenu" role="navigation" aria-label="Mobile menu" aria-hidden="true">
        <a class="nav-item active" href="index.html">Home<span><i class='bxr  bxs-radio-circle'></i></span></a>
        <a class="nav-item" href="shop.html">Shop<span><i class='bxr  bxs-radio-circle'></i></span></a>
        <a class="nav-item" href="testimonials.html">Testimonials<span><i class='bxr  bxs-radio-circle'></i></span></a>
        <a class="nav-item" href="about.html">About<span><i class='bxr  bxs-radio-circle'></i></span></a>
        <a class="nav-item" href="contact.html">Contact<span><i class='bxr  bxs-radio-circle'></i></span></a>
    </nav>
</header>