<header id="main-header" class="header">
    <div class="header-inner">

        <!-- Left: Logo -->
        <a href="index.html" class="logo">LiquiDator</a>

        <!-- Center: Navigation -->
        <nav class="nav-desktop">
            <a href="index.html">Home</a>
            <a href="shop.html">Shop</a>
            <a href="checkout.html">Checkout</a>
            <a href="about.html">About Us</a>
        </nav>

        <div class="header-icons">
            <div class="icon-btn" id="cart-btn">
                <span class="cart-total" id="cart-total">$0</span>
                <i class='bx  bxs-cart'></i>
                <span class="count" id="cart-count">0</span>
            </div>

            <div id="menuToggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

    </div>

    <nav class="nav-mobile" id="mobileMenu">
        <a href="index.html">Home</a>
        <a href="shop.html">Shop</a>
        <a href="checkout.html">Checkout</a>
        <a href="about.html">About Us</a>
    </nav>
</header>