*::-webkit-scrollbar {
  display: none;
}

/* for Firefox */
* {
  scrollbar-width: none;
}

/* for IE/old Edge */
* {
  -ms-overflow-style: none;
}

/* CART PAGE */
.cart-page {
  max-width: 1200px;
  margin: 10px auto 40px;
  padding: 20px;
}

.cart-page h1 {
  margin-bottom: 10px;
  color: var(--blue);
  text-align: center;
}

.cart-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* CART ITEM LIST */
.cart-list {
  background: var(--sky);
  padding: 20px;
  height: 450px;
  overflow-y: auto;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid var(--blue-light);
}

.cart-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background: white;
  border-radius: 10px;
  border: 1px solid var(--blue-light);
}

.cart-img {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  object-fit: cover;
}

.cart-info {
  flex: 1;
  margin-left: 15px;
}

.cart-info h4 {
  margin: 0 0 5px 0;
  color: var(--blue);
}

.cart-info .price {
  margin-bottom: 8px;
  color: var(--navy);
  font-weight: 600;
}

/* QUANTITY BOX */
.qty-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.qty-box button {
  width: 28px;
  height: 28px;
  border: none;
  border-radius: 6px;
  background: var(--blue);
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

.qty-box span {
  font-size: 1rem;
  font-weight: bold;
}

/* REMOVE BUTTON */
.remove-btn {
  background: transparent;
  border: none;
  color: #b33;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
}

.remove-btn:hover {
  text-decoration: underline;
}

.cart-summary {
  background: var(--sky);
  padding: 20px;
  border-radius: 12px;
  border: 1px solid var(--blue-light);
}

.cart-summary h3 {
  margin-bottom: 15px;
  color: var(--blue);
}

.total-price p {
  margin: 8px 0;
}

.big {
  font-size: 1.2rem;
  margin-top: 10px;
  color: var(--blue);
}

.checkout-btn {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  border: none;
  border-radius: 0px;
  background: var(--blue);
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
}

.checkout-btn:hover {
  background: var(--accent);
}

.delivery-progress {
  margin-bottom: 20px;
}

.delivery-msg {
  font-size: 14px;
  margin-bottom: 8px;
  color: var(--blue-dark);
}

.progress-bar {
  width: 100%;
  height: 7px;
  background: var(--sky-dark);
  border-radius: 20px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  width: 0%;
  transition: width 0.35s ease;
  background: var(--blue);
}